@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IranSansMobile";
   /*src: url("/public/font/IRANSansMobile.ttf");*/
  src: url("/public/font/IRANSansWeb.woff");
  /*src: url("/public/font/iransansweb(fanum).woff");*/
 }

@font-face {
  font-family: "FaNum";
   /*src: url("/public/font/IRANSansMobile.ttf");*/
  src: url("/public/font/IRANSans(FaNum).ttf");
 }

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/
